In [1]:
import numpy as np
import pandas as pd
import random
from datetime import datetime, timedelta

In [3]:
customers_expanded = pd.DataFrame({
    "customer_id": range(1, 21),
    "customer_name": [
        "Alice Johnson", "Brian Smith", "Clara Daniels", "David Brown", "Emma Thompson",
        "Fred Williams", "Grace Lee", "Henry Adams", "Isla Martin", "Jack Reynolds",
        "Lara Croft", "Mason Fox", "Nina Patel", "Oliver Queen", "Paula Reed",
        "Quincy Hall", "Rachel Green", "Steve Rogers", "Tina Turner", "Victor Hugo"
    ],
    "email": [f"user{i}@example.com" for i in range(1, 21)],
    "phone_number": [f"+1-555-01{i:03}" for i in range(1, 21)],
    "address": [
        "123 Maple St", "456 Oak St", "789 Pine St", "135 Elm St", "246 Birch St",
        "357 Cedar St", "468 Spruce St", "579 Willow St", "681 Ash St", "792 Fir St",
        "810 Redwood St", "911 Cherry St", "101 Apple St", "202 Orange St", "303 Peach St",
        "404 Plum St", "505 Pear St", "606 Fig St", "707 Lime St", "808 Cherry St"
    ],
    "city": [
        "Toronto", "Vancouver", "Montreal", "Calgary", "Ottawa",
        "Edmonton", "Winnipeg", "Quebec City", "Hamilton", "Kitchener",
        "London", "Victoria", "Halifax", "Oshawa", "Windsor",
        "Saskatoon", "Regina", "Sherbrooke", "Barrie", "Kelowna"
    ],
    "country": ["Canada"] * 20,
    "created_at": pd.date_range(start="2024-01-01", periods=20).strftime("%Y-%m-%d")
})

In [5]:
print(customers_expanded)

    customer_id  customer_name               email  phone_number  \
0             1  Alice Johnson   user1@example.com  +1-555-01001
1             2    Brian Smith   user2@example.com  +1-555-01002
2             3  Clara Daniels   user3@example.com  +1-555-01003
3             4    David Brown   user4@example.com  +1-555-01004
4             5  Emma Thompson   user5@example.com  +1-555-01005
5             6  Fred Williams   user6@example.com  +1-555-01006
6             7      Grace Lee   user7@example.com  +1-555-01007
7             8    Henry Adams   user8@example.com  +1-555-01008
8             9    Isla Martin   user9@example.com  +1-555-01009
9            10  Jack Reynolds  user10@example.com  +1-555-01010
10           11     Lara Croft  user11@example.com  +1-555-01011
11           12      Mason Fox  user12@example.com  +1-555-01012
12           13     Nina Patel  user13@example.com  +1-555-01013
13           14   Oliver Queen  user14@example.com  +1-555-01014
14           15     Paula Reed  user15@example.com  +1-555-01015
15           16    Quincy Hall  user16@example.com  +1-555-01016
16           17   Rachel Green  user17@example.com  +1-555-01017
17           18   Steve Rogers  user18@example.com  +1-555-01018
18           19    Tina Turner  user19@example.com  +1-555-01019
19           20    Victor Hugo  user20@example.com  +1-555-01020

           address         city country  created_at
0     123 Maple St      Toronto  Canada  2024-01-01
1       456 Oak St    Vancouver  Canada  2024-01-02
2      789 Pine St     Montreal  Canada  2024-01-03
3       135 Elm St      Calgary  Canada  2024-01-04
4     246 Birch St       Ottawa  Canada  2024-01-05
5     357 Cedar St     Edmonton  Canada  2024-01-06
6    468 Spruce St     Winnipeg  Canada  2024-01-07
7    579 Willow St  Quebec City  Canada  2024-01-08
8       681 Ash St     Hamilton  Canada  2024-01-09
9       792 Fir St    Kitchener  Canada  2024-01-10
10  810 Redwood St       London  Canada  2024-01-11
11   911 Cherry St     Victoria  Canada  2024-01-12
12    101 Apple St      Halifax  Canada  2024-01-13
13   202 Orange St       Oshawa  Canada  2024-01-14
14    303 Peach St      Windsor  Canada  2024-01-15
15     404 Plum St    Saskatoon  Canada  2024-01-16
16     505 Pear St       Regina  Canada  2024-01-17
17      606 Fig St   Sherbrooke  Canada  2024-01-18
18     707 Lime St       Barrie  Canada  2024-01-19
19   808 Cherry St      Kelowna  Canada  2024-01-20

In [7]:
cakes = [
    "Chocolate Fudge Cake", "Red Velvet Cake", "Lemon Drizzle Cake", "Vanilla Sponge Cake",
    "Black Forest Cake", "Strawberry Shortcake", "Carrot Cake", "Coffee Walnut Cake",
    "Blueberry Cheesecake", "Mango Mousse Cake"
]
# Expanded Products dataset
products_expanded = pd.DataFrame({
    "product_id": range(1, 11),
    "product_name": cakes,
    "category": ["Cake"] * 10,
    "price": [random.randint(15, 50) for _ in range(10)],
    "description": [
        "Rich chocolate fudge cake", "Classic red velvet with cream cheese frosting",
        "Zesty lemon drizzle with sugar glaze", "Light vanilla sponge cake with buttercream",
        "Traditional black forest with cherries", "Fresh strawberry shortcake",
        "Spiced carrot cake with cream cheese icing", "Coffee walnut flavored cake",
        "Blueberry cheesecake with graham crust", "Mango mousse with tropical flavors"
    ],
    "weight_grams": [800, 750, 700, 850, 900, 650, 720, 780, 820, 790],
    "availability_status": ["In Stock"] * 10,
    "created_at": pd.date_range(start="2024-01-10", periods=10).strftime("%Y-%m-%d")
})

In [9]:
print(products_expanded)

   product_id          product_name category  price  \
0           1  Chocolate Fudge Cake     Cake     44
1           2       Red Velvet Cake     Cake     28
2           3    Lemon Drizzle Cake     Cake     38
3           4   Vanilla Sponge Cake     Cake     44
4           5     Black Forest Cake     Cake     48
5           6  Strawberry Shortcake     Cake     45
6           7           Carrot Cake     Cake     38
7           8    Coffee Walnut Cake     Cake     36
8           9  Blueberry Cheesecake     Cake     22
9          10     Mango Mousse Cake     Cake     35

                                     description  weight_grams  \
0                      Rich chocolate fudge cake           800
1  Classic red velvet with cream cheese frosting           750
2           Zesty lemon drizzle with sugar glaze           700
3     Light vanilla sponge cake with buttercream           850
4         Traditional black forest with cherries           900
5                     Fresh strawberry shortcake           650
6     Spiced carrot cake with cream cheese icing           720
7                    Coffee walnut flavored cake           780
8         Blueberry cheesecake with graham crust           820
9             Mango mousse with tropical flavors           790

  availability_status  created_at
0            In Stock  2024-01-10
1            In Stock  2024-01-11
2            In Stock  2024-01-12
3            In Stock  2024-01-13
4            In Stock  2024-01-14
5            In Stock  2024-01-15
6            In Stock  2024-01-16
7            In Stock  2024-01-17
8            In Stock  2024-01-18
9            In Stock  2024-01-19

In [13]:
order_statuses = ["Pending", "Completed", "Cancelled", "Shipped"]
payment_methods = ["Credit Card", "PayPal", "Cash", "Debit Card"]

orders_expanded = pd.DataFrame({
    "order_id": range(1001, 1021),
    "customer_id": random.choices(customers_expanded["customer_id"], k=20),
    "product_id": random.choices(products_expanded["product_id"], k=20),
    "order_date": [(datetime(2025, 5, 10) + timedelta(days=i)).strftime("%Y-%m-%d") for i in range(20)],
    "quantity": np.random.randint(1, 5, size=20),
    "total_price": 0,  # placeholder, calculate below
    "order_status": random.choices(order_statuses, k=20),
    "payment_method": random.choices(payment_methods, k=20),
    "delivery_date": [(datetime(2025, 5, 12) + timedelta(days=i)).strftime("%Y-%m-%d") for i in range(20)]
})

# Calculate total price = quantity * product price
orders_expanded["total_price"] = orders_expanded.apply(
    lambda row: row["quantity"] * products_expanded.loc[products_expanded["product_id"] == row["product_id"], "price"].values[0],
    axis=1
)

In [15]:
print(orders_expanded)

    order_id  customer_id  product_id  order_date  quantity  total_price  \
0       1001           16          10  2025-05-10         2           70
1       1002           10           7  2025-05-11         2           76
2       1003            7           2  2025-05-12         2           56
3       1004           12           1  2025-05-13         4          176
4       1005           16           5  2025-05-14         4          192
5       1006            3           1  2025-05-15         2           88
6       1007           12          10  2025-05-16         3          105
7       1008            8           4  2025-05-17         2           88
8       1009           10           6  2025-05-18         3          135
9       1010           18           6  2025-05-19         3          135
10      1011           12           6  2025-05-20         4          180
11      1012           13           6  2025-05-21         2           90
12      1013           14          10  2025-05-22         2           70
13      1014           16           6  2025-05-23         3          135
14      1015           12          10  2025-05-24         4          140
15      1016           16           9  2025-05-25         2           44
16      1017            7          10  2025-05-26         2           70
17      1018            3           6  2025-05-27         1           45
18      1019           12           1  2025-05-28         4          176
19      1020            7          10  2025-05-29         1           35

   order_status payment_method delivery_date
0       Shipped         PayPal    2025-05-12
1     Cancelled           Cash    2025-05-13
2     Cancelled           Cash    2025-05-14
3       Shipped     Debit Card    2025-05-15
4     Cancelled    Credit Card    2025-05-16
5       Shipped    Credit Card    2025-05-17
6     Completed    Credit Card    2025-05-18
7       Pending         PayPal    2025-05-19
8     Cancelled    Credit Card    2025-05-20
9       Pending         PayPal    2025-05-21
10      Shipped    Credit Card    2025-05-22
11    Completed     Debit Card    2025-05-23
12      Shipped     Debit Card    2025-05-24
13    Cancelled     Debit Card    2025-05-25
14      Shipped    Credit Card    2025-05-26
15    Cancelled     Debit Card    2025-05-27
16    Cancelled         PayPal    2025-05-28
17    Completed           Cash    2025-05-29
18      Shipped           Cash    2025-05-30
19      Pending           Cash    2025-05-31

In [17]:
customer_exp_path = "/Users/apple/Desktop/customers_expanded.csv"
product_exp_path = "/Users/apple/Desktop/products_expanded.csv"
order_exp_path = "/Users/apple/Desktop/orders_expanded.csv"

customers_expanded.to_csv(customer_exp_path, index=False)
products_expanded.to_csv(product_exp_path, index=False)
orders_expanded.to_csv(order_exp_path, index=False)

customer_exp_path, product_exp_path, order_exp_path

('/Users/apple/Desktop/customers_expanded.csv',
 '/Users/apple/Desktop/products_expanded.csv',
 '/Users/apple/Desktop/orders_expanded.csv')

In [24]:
orders_data = pd.read_csv("orders_expanded.csv")
orders_data.head()

,order_id,customer_id,product_id,order_date,quantity,total_price,order_status,payment_method,delivery_date
0,1001,16,10,2025-05-10,2,70,Shipped,PayPal,2025-05-12
1,1002,10,7,2025-05-11,2,76,Cancelled,Cash,2025-05-13
2,1003,7,2,2025-05-12,2,56,Cancelled,Cash,2025-05-14
3,1004,12,1,2025-05-13,4,176,Shipped,Debit Card,2025-05-15
4,1005,16,5,2025-05-14,4,192,Cancelled,Credit Card,2025-05-16